@import "vars"


/*==========  Desktop First  ==========*/

// ≥1200px
+media-breakpoint-down(lg)

// ≥992px
+media-breakpoint-down(md)

// ≥768px
+media-breakpoint-down(sm)

// ≥576px
+media-breakpoint-down(xs)


/*==========  Mobile First  ==========*/

// ≤576px
+media-breakpoint-up(sm)

// ≤768px
+media-breakpoint-up(md)

// ≤992px
+media-breakpoint-up(lg)

// ≤1200px
+media-breakpoint-up(xl)



/*==========  Custom mobile  ==========*/
@media (max-width: 960px) and (min-width: 720px)
    .formSubscribe
        margin-bottom: 100px
@media (max-width: 960px)
    .top-post
        &:after
            display: none
    .top-post_title
        h1
            font-size: 30px
    .articles_img 
        .cat
            font-size: 12px
    .articles_blk 
        b
            font-size: 16px
    .art_big__title
        font-size: 20px
    .not_found	
	    p
            padding-top: 192px
    .button-more
        width: 100%
        margin-top: 32px
    .button-more
        &:after
            display: none
    .req-email input
        margin-right: 0!important

    

@media (max-width: 720px)
    .top-post_title
        position: relative
        z-index: 99
        margin-top: -206px
        height: 332px
        padding: 70px 20px
    .formSubscribe
        margin-top: 20px
        margin-bottom: 32px
    .articles_blk
        margin-bottom: 30px
        margin-top: 20px
    .header
        .button
            margin-top: 21px
    .articles_blk 
        b
            font-size: 14px    
    .not_found	
	    p
            padding-top: 40px
            width: 100%
            text-align: center
    .button-more
        margin: auto!important
        width: 145px 
    #search-2
        &:hover			
            width: 236px
              
                
@media (max-width: 540px)
    nav
        width: 148px
        margin: auto
    .top-post_title
        margin-top: 0px
    .content-base 
        h1
            font-size: 30px
    .art_big__title
        font-size: 30px    
    .top-post
        &:hover
	        .top-post_title
                width: 100%
    
    

    

    
