@import "vars"


/*==========  Desktop First  ==========*/

// ≥1200px
+media-breakpoint-down(lg)

// ≥992px
+media-breakpoint-down(md)

// ≥768px
+media-breakpoint-down(sm)

// ≥576px
+media-breakpoint-down(xs)


/*==========  Mobile First  ==========*/

// ≤576px
+media-breakpoint-up(sm)

// ≤768px
+media-breakpoint-up(md)

// ≤992px
+media-breakpoint-up(lg)

// ≤1200px
+media-breakpoint-up(xl)



/*==========  Custom mobile  ==========*/
@media (max-width: 960px)
    .top-post
        &:after
            display: none
    .top-post_title
        h1
            font-size: 30px
    .articles_img 
        .cat
            font-size: 12px

@media (max-width: 720px)
    .top-post_title
        position: relative
        z-index: 99
        margin-top: -206px
        height: 332px
        padding: 70px 20px
    .formSubscribe
        margin-top: 20px
    .articles_blk
        margin-bottom: 30px
        margin-top: 20px
    .header
        .button
            margin-top: 21px
                
@media (max-width: 540px)
    nav
        width: 148px
        margin: auto
    .top-post_title
        margin-top: 0px
    .content-base 
        h1
            font-size: 30px
    

    

    
