@import "vars"
@import "fonts"
@import "libs"
@import "_mixins/box-shadow"


*
	a
		&:hover
			color: $red
			text-decoration: none


::placeholder
	color: #666
body	
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $default-font
	overflow-x: hidden
	color: $text
	input, textarea
		border: #666 1px solid
		outline: none
		&:focus:required:invalid
			border-color: red
		&:required:valid
			border-color: green
hr
	margin-top: 40px
	margin-bottom: 20px 
	
ul
	padding: 0
	margin: 0
	li
		list-style: none
		a
			color: #000000
.fas
	font-size: 20px
.fa-ellipsis-h
	color: $grey-s
.lang_blk
	display: flex
	justify-content: flex-end	
.not_found	
	p
		font-size: 30px
		position: absolute
		top: 285px
		font-weight: 600
		width: 120%
	.button-more
		position: absolute
		top: 400px


.img-responsive
	display: block
	max-width: 100%
	height: auto
	&.img-width
		width: 100%

.text-center
	text-align: center

b, strong
	font-weight: bold


.header
	background: $grey
	padding: 15px 0	
	.button
		float: left
		margin-right: 40px

.logo
	width: 186px

.button, .button-more
	display: block
	border-radius: 20px
	background: $red
	padding: 3px 20px
	text-align: center
	width: 145px
	color: #ffffff
	font-size: 20px
	height: 40px
	&:hover
		background: $red-hover
		color: #ffffff
		text-decoration: none
.button-more
	background: #ffffff
	border: 1px solid $red
	color: $red
	margin: auto
.top-menu
	nav
		padding: 0
		border-bottom: 1px solid #DEDEDE		
.nav-link
	color: #000000
	font-size: 20px
	padding-left: 0!important
	padding-right: 0px!important	
	margin-right: 40px
	&:hover
		color: $red
	&:active
		border-bottom: 2px solid $red
		
.dropdown
	padding: 7px 0px 0 20px
	&:hover
		.dropdown-toggle
			color: $red
	.dropdown-toggle
		color: #000000
.dropdown-menu
	min-width: 100%
.dropdown-menu.show
	top: -25px!important
	padding-top: 25px
	padding-bottom: 0
	border: 0
	border-radius: 0
	border-left: 5px solid $red
.dropdown-item
	padding: 0px
	text-align: center
	padding-bottom: 20px
.dropdown-toggle
	&:after
		display: none	
input[type=search]  
  border: none
  -webkit-transition: all .2s
  -moz-transition: all .2s
  transition: all .2s
  background: transparent
#search input
  &[type=search]
    width: 25px
    color: transparent
    cursor: pointer
		&:focus			
			width: 348px
			height: 40px			
			color: #000
			cursor: auto
			border-bottom: 1px solid #929292
			margin-left: -290px
			background: #f4f4f4
  &:-moz-placeholder, &::-webkit-input-placeholder
    color: transparent
#search 
	input		
		padding-left: 25px
		z-index: 3
		position: relative		
	&:before				
		content: "\f002"
		font-weight: 900		
		position: absolute
		font-size: 20px
		top: 3px
		z-index: 0
		font-family: "Font Awesome 5 Free"
	&:hover
		&:before
			color: $red

.chronology
	margin-top: 60px
.top-post	
	position: relative
	&:hover
		.cat
			background: $blue
			color: #ffffff
	&:after
		content: ''
		position: absolute
		right: -138px
		height: 374px
		width: 338px
		background-repeat: no-repeat
		background: url(../img/9945b3988f2b1e56e7b4c0a995ca54a6.png)
.top-post_image
	overflow: hidden
.top-post_title
	background: #B569B1	
	padding: 120px 20px
	height: 450px
	h1
		font-size: 40px
		color: #ffffff
		font-weight: bold	
		margin-top: 15px
.cat
	font-size: 16px
	background: #ffffff
	padding: 10px
	transition: .5s

.title
	font-size: 40px
	font-family: Lato,light
	margin-top: 60px
.articles
	margin-top: 40px
	>.row
		margin-bottom: 30px
.tags
	margin-top: 40px
	display: flex
	flex-wrap: wrap
	a
		padding: 9px 20px
		border: 1px solid #DEDEDE
		margin-right: 8px
		margin-bottom: 8px
		color: #000000
		&:hover
			text-decoration: none
			outline: 2px solid $red
			color: $red
.articles_img
	width: 100%
	height: 100%
	position: relative
	.counter
		display: none
		position: absolute
		bottom: 15px
		color: #bdbdbd
	img 
		width: 100%
	.cat
		position: absolute
		right: 12px
		top: 12px
		color: #000000
section.category
	.art_big
		margin-bottom: 32px

.articles_blk
	&:hover
		.cat
			background: $blue
			color: #ffffff
		b
			color: $red
		a
			text-decoration: none
		.counter
			display: block
			left: 15px			
	b
		font-size: 20px
		line-height: 23px
		display: block
		color: #000000
		transition: .5s
		display: inline-block
		margin-top: 20px
.art_big	
	-webkit-box-shadow: inset 0 -96px 69px -25px rgba(0,0,0,0.68)
	-moz-box-shadow: inset 0 -96px 69px -25px rgba(0,0,0,0.68)
	box-shadow: inset 0 -96px 69px -25px rgba(0,0,0,0.68)
	&:hover
		background: rgba(0,0,0,.20)
		transition: .5s
	.counter
		display: block!important
		bottom: -15px
	.articles_img
		width: 100%
		height: 100%
		img 
			position: relative
			z-index: -1
			width: 100%	
.counter
	li 
		float: left
		font-size: 13px
		padding-right: 12px
	span
		padding-left: 4px
.art_big__title
    position: absolute
    bottom: 35px
    font-weight: bold
    font-size: 40px
    color: #fff
    padding: 0px 25px		
.center
	text-align: center
.catTitle
	display: flex
	flex-wrap: wrap
	margin-bottom: 40px
	h2
		font-weight: bold
		font-size: 40px
		position: relative
		padding-left: 20px
		margin-right: 42px
		margin-bottom: 0
		&:before
			content: ''
			width: 8px
			height: 48px
			position: absolute
			background: #3D90D2
			left: 0
	.catTitle_menu
		padding: 0
		margin: 0
		border-bottom: 1px solid #DEDEDE
	li
		float: left
		list-style: none
		a
			display: block
			font-size: 20px
			color: #000000
			padding: 7px 20px 0 20px
.formSubscribe
	border: 2px solid $red
	padding: 30px
	form
		.button
			font-weight: bold
		input[type=email]
			width: 100%
			border: none
			border-bottom: 1px solid #000000
			margin-bottom: 20px
		
	h3
		font-size: 30px
		font-weight: 600
.soc
	a
		margin-right: 20px
		&:hover
			i 
				color: $red		
		i
			color: #00000070
			font-size: 20px
footer
	background: $grey
	padding: 40px 0
	margin-top: 60px
	b
		margin-bottom: 40px
		display: block

// custom cb
.cb
	display: block
	position: relative
	padding-left: 35px
	cursor: pointer
	font-size: 12px
	-webkit-user-select: none
	-moz-user-select: none
	-ms-user-select: noneuser
	-select: none
	margin-top: 10px
	input
    position: absolute
    opacity: 0
    cursor: pointer
    height: 0
    width: 0

.checkmark
	position: absolute
	top: 0
	left: 0
	height: 14px
	width: 14px
	background-color: #ffffff
	border: 1px solid #000000
	border-radius: 3px


.checkmark:after
  content: ""
  position: absolute
  display: none

.cb
  input:checked ~ .checkmark:after
    display: block
  .checkmark:after
    left: 4px
    top: 0px
    width: 5px
    height: 10px
    border: solid #d63617
    border-width: 0 3px 3px 0
    -webkit-transform: rotate(45deg)
    -ms-transform: rotate(45deg)
    transform: rotate(45deg)
.category
	margin-top: 55px
	.container
		>.row
			margin-bottom: 30px
.copyright
	p
		margin-bottom: 10px
	ul li
		float: left
		padding-right: 15px
.navbar-toggler
	margin: auto

// ==
.panel-title > a
  display: block
  padding: 15px
  color: #555
  font-size: 16px
  font-weight: bold
  text-transform: uppercase
  letter-spacing: 1px
  word-spacing: 3px
  text-decoration: none
  &:active
    display: block
    padding: 15px
    color: #555
    font-size: 16px
    font-weight: bold
    text-transform: uppercase
    letter-spacing: 1px
    word-spacing: 3px
    text-decoration: none

.panel-heading
	a
		&:before
			font-family: "Font Awesome 5 Free"
			content: "\f078"
			display: block
			font-weight: 900
			float: right
			transition: all 0.5s
	&.active a:before
		-webkit-transform: rotate(180deg)
		-moz-transform: rotate(180deg)
		transform: rotate(180deg)
.panel-body 
	ul
		padding-left: 20px
.addImg
	overflow: hidden
	img
		width: 100%


// content-base
.content-base
	margin-bottom: 60px
	.catTitle
		li
			a
				&:nth-child(1)
					padding-left: 0
		h1
			font-size: 80px
			width: 100%
.content-about
	h3
		font-size: 40px
		font-weight: bold
	p
		font-size: 18px
.req-email
	display: flex
	margin-top: 40px
	input
		width: 348px
		border: 0
		border-bottom: 1px solid #000000	
.item-sub
	display: flex
	margin-top: 40px
	b
		font-size: 20px
	p
		font-size: 18px

@import "media" // Always at the end
